<span style='color: #000'>19 frames</span>	<span style='color: #900'>2,048 KB</span>	<span style='color: #090'>138.09 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><br />
<b>Warning</b>:  "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"? in <b>C:\xampp\htdocs\citas_medicas\vistas\dompdf\include\stylesheet.cls.php</b> on line <b>1054</b><br />
